<div class="auth-outer-window" id="login-form-outer-window">
  <div class="auth-inner-window" id="login-form-inner-window">
    <h3>Login</h3>
    <form action="<%= session_index_url %>" method="post" class="">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <div class="form-group">
        <label for="session-email">Email</label><br>
        <input
          type="text"
          name="session[email]"
          class="form-control"
          id="session-email"><br>
      </div>

      <div class="form-group">
        <label for="session-password">Password</label><br>
        <input
          type="password"
          name="session[password]"
          class="form-control"
          id="session-password"><br>
      </div>
      <div>
        <button
          class="btn btn-default"
          type="submit"
          value="Login">
          Login
        </button>
      </div><br/>
      <div><a href="/users/new"> New user? </a></div>
      <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <!-- NOTE: need to make this look more acceptable. ugly right now -->
          <div><%= error %></div>
        <% end %>
      <% end %>
    </form>
  </div>
</div>
