<div class="auth-container">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#collapse-menu"
              aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">RoboTask</a>
    </div>

    <div class="collapse navbar-collapse" id="collapse-menu">
      <ul class="nav navbar-nav navbar-right">
        <li
          class="bigger-test"
          ><a><strong>New Task</strong></a>
        </li>
        <li class="dropdown">
          <a href="#"
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false">
            My Tasks
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a>Incomplete</a>
            </li>

            <li>
              <a>Assigned</a>
            </li>

            <li>
              <a>History</a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#"
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false">
            Account
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a>Edit Profile</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a>Log Out</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div class="auth-outer-window" id="login-form-outer-window">
    <div class="auth-inner-window" id="login-form-inner-window">
      <h3>Login</h3>
      <form action="<%= session_index_url %>" method="post" class="">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <div class="form-group">
          <label for="session-email">Email</label><br>
          <input
            type="text"
            name="session[email]"
            class="form-control"
            value="guest@guest.guest"
            id="session-email"><br>
        </div>

        <div class="form-group">
          <label for="session-password">Password</label><br>
          <input
            type="password"
            name="session[password]"
            class="form-control"
            value="password"
            id="session-password"><br>
        </div>
        <div>
          <button
            class="btn btn-default"
            type="submit"
            value="Login">
            Login
          </button>
        </div><br/>
        <div><a href="/users/new"> New user? </a></div>
        <% if flash[:errors] %>
          <% flash[:errors].each do |error| %>
            <!-- NOTE: need to make this look more acceptable. ugly right now -->
            <div><%= error %></div>
          <% end %>
        <% end %>
      </form>
    </div>
  </div>
</div>
<!-- <div class="container-fluid">
  <div class="row intro-layer-1">
    <h1>
      Welcome to RoboTask. the best!
    </h1>
  </div>

  <div class="row intro-layer-2">
    <div class="center-block col-xs-4">
      Salami hamburger beef ribs bresaola. Pig turkey brisket, leberkas tri-tip corned beef swine fatback meatball. Pork belly chicken beef, ball tip picanha sausage drumstick jowl bacon meatball porchetta spare ribs turducken pork chop tongue.
    </div>
    <div class="center-block col-xs-4">
      Drumstick short ribs corned beef, chicken doner kielbasa jowl cow andouille porchetta. Ribeye turkey flank doner kielbasa. Shankle boudin turducken, flank sirloin jowl cupim.
    </div>
    <div class="center-block col-xs-4">
      Bresaola picanha biltong pork chop tri-tip fatback pork loin pork shankle filet mignon andouille shank. Turkey chuck ground round tongue, picanha ham hock ball tip pancetta.
    </div>
  </div>

  <div class="row intro-layer-3">
    <div class="center-block">
      Bacon ipsum dolor amet t-bone ham corned beef tri-tip picanha. Salami pork doner, chicken pork loin sirloin pancetta porchetta picanha
    </div>
  </div>

  <div class="row intro-layer-4">
    <div class="center-block">
      Picanha chicken shoulder strip steak ham hock fatback beef ribeye shankle pork chop spare ribs. Filet mignon meatloaf prosciutto sirloin, pig frankfurter ribeye shank biltong kielbasa chicken turkey pork tail shoulder
    </div>
  </div>
</div> -->
