<h3>Create new user</h3>
<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="user-email">email</label><br>
  <input
    type="text"
    name="user[email]"
    value=<%= @user.email %>><br>

  <label for="user-password">password</label><br>
  <input
    type="password"
    name="user[password]"
    id="user-password"><br>

  <input type="submit" value="Create new user">
</form>
