/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.nav {
	font-size: 24px;
}

.navbar-brand {
	font-family: monospace;
	font-size: 48px;
}

.navbar {
	// background-color: rgb(148, 224, 224); // teal?
	// background-color: #5C88DF;
	border-bottom: 1px solid #334d5c;
	margin: 0px
}



.form-group {
	position: relative;
}
.task-status-icon {
	position: absolute;
	right: 0;
}

.badge {
	margin-left: 5px;
}
.badge-unassigned-nonempty {
	background-color: yellow;
	color: black;
	border: 2px solid black;
}

.badge-active-nonempty {
	background-color: green;
	border: 2px solid black;
}

.modal-footer {
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}



.panel {
  padding: 20px;
  border: 2px solid #1e5d88;
	box-shadow: 3px 3px 5px #888888;
}

.centered-buttons {
	display:block;
	margin: auto;
}

.modal-fix {
	position: absolute;
}

#review-entry {
	margin: 15px 0px;
}

#review-icon {
	top: 5px;
	left: 5px;
	right: 12px;
}

.task-create-form-input-labels{
	font-size: 24px;
}

.location-ok {
	color: rgb(0,128,0);
}

.location-bad {
	color: rgb(169,68,68);
}

#description-entry {
	height: 200px;
	resize: vertical;
}

#task-create-form-submission-disabled{
	background-color: rgb(123,169,208);
	border: 1px solid rgb(119,160,196);
	cursor: not-allowed;
}

.modal-header {
	background-color: #337ab7;
	color: white;
	// font-weight: 800;
}

.popover-title {
	background-color: #337ab7;
	color: white;
}

.task-tabs {
	border-top: 2px solid #1e5d88;
	border-left: 2px solid #1e5d88;
	border-right: 2px solid #1e5d88;
}
