.open-task-wage {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 32px;
  background-color: rgb(235,251,188);
  padding: 0px 6px 0px 8px;
  border: 2px solid rgb(174,214,118);
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
}

.mini-wage {
	font-size: 24px;
  background-color: rgb(235,251,188);
  padding: 0px 4px;
  border: 2px solid rgb(174,214,118);
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
}
