#find-workers-form-container {
	padding: 0px 15px 0px 15px;
	text-align: center;
}

#find-workers-form-items-header {
	font-size: 24px;
	text-align: center;
	padding: 2px 0px;
}

#find-workers-header {
	font-size: 36px;
	padding: 2px 0px;
	text-align: center;
}

#find-workers-form-heading {
	font-size: 24px
}
