#about-me-container {
	// background:green;
	// height: 100%;
	// position: absolute;
	// right: 0;
	// bottom: 0;
}

.find-worker-form-item-about-container {
	text-align: left;
}

#about-header {
	font-size: 24px;
}

.find-worker-form-item-about-container > .worker-stats {
	margin-top: 30px;
}

.find-workers-item-button-holder {
  height: 36px;
  margin-top: 24px;
  position: relative;
}

#find-workers-form-item-container {
	overflow: hidden;
  position: relative;
  width: 100%;
	margin: 0px;
}
