#workable-tasks-holder {
	height: calc(100vh - 51px);
	overflow: scroll;
	padding: 0;
}

#panel {
  border: 0px solid white;
}

#find-tasks-index-items-header {
	text-align: center;
	font-size: 36px;
	padding: 0px;
	margin-bottom: 20px;
  border-radius: 0px;
  border-top: 0px;
}
