#bio-entry {
  height: 200px;
  resize: vertical;
}

#profile-save-button {
}

.profile-section-footer {
  margin-top: 15px;
}
.profile-status-message {
  margin-left: 15px;
  color: rgb(0,128,0);
  font-weight:bold;
}
.form-group {
  margin-bottom: 0;
}

.profile-icon {
  display: block;
  float: right;
}

.day-group {
  margin: 10px 0px;
}
#profile-day {
  width: 150px;
}

#worktime-SUN {
  width: 100%;
}
#worktime-MON {
  width: 100%;
}
#worktime-TUE {
  width: 100%;
}
#worktime-WED {
  width: 100%;
}
#worktime-THU {
  width: 100%;
}
#worktime-FRI {
  width: 100%;
}
#worktime-SAT {
  width: 100%;
}

#interval-button-group {
  margin-left: 10px;
  margin-right: 10px;
}
