.pics {
  font-size:48px;
  margin-top: 20px;
}
.thumb {
  border-radius: 50%;
  width: 100px;
  margin:10px;
  overflow: hidden;
}

.thumb-tagline {
  margin-top: 15px;
}

.auth-outer-window {
  display:block;
  font-size: 12px;
  color: black;
  display:none;
  position:fixed;
	border: 1px solid #1e5d88;
	background-color: white;
  width: 300px;
  top: 40px;
  z-index: 9000;
}

.create-account {
  left: 20px;
}

.login-user {
  right: 20px;
}


.auth-container {
	height:100vh;
	// position:relative;
}

.auth-inner-window {
  // border: 1px solid black;
  padding: 20px;
}

form {
  font-size: 12px;
}



.panel1 {
  position:relative;
  // background-color: black;
  background-image: url('http://res.cloudinary.com/buttertron22/image/upload/c_scale,e_blur:50,w_2984/v1446222585/splash-backdrop-v2_zfojmh.jpg');
  background-position: center;
  // height: 700px;
  color: white;
}

.button-holders {
  float:top;
  font-size: 24px;
  margin: 5px 10px 0px 10px;
}
.create-account-button {
  float: left;
  cursor: pointer;
}

.login-button {
  float:right;
  cursor: pointer;
}

.panel1-main {
  text-align: center;
  margin: 150px 0;
}

.panel1-main .header {
  font-size: 15.25vw;
}

.panel1-main .tag {
  font-size: 2.29vw;
  // position: relative;
  // top: -30px;
}


.infosection {
  background: white;
  // height: 100%;
}
.infosection {
  text-align: center;
}
.pics {
  // text-alig
}
.information {
  // text-align: center;
  // border: 1px solid red;
  height: 100%;
}

.information .header {
  margin-top:40px;
  font-size:46px;
}
.information .subheader {
  font-size:23px;
}
.information .subtitle {
  margin-top: 30px;
  font-size:37px;
}

.steps-list {
  margin-top: 5px;
  width: 400px;
  display: inline-block;
  text-align: left;
}

.list-entry {
  font-size: 24px;
  margin: 5px;
}

.btn-link {
  font-size: 24px
}

.guest-container {
  margin: 20px 0px 20px 0px ;
}

#larger-button {
  font-size: 30px;
}


.divider {
  background-color: black;
  text-align: center;
  color: white;
  background-image: url('http://res.cloudinary.com/buttertron22/image/upload/v1446223512/robot_city_crop_zb8ufr.jpg');
  background-position: center;
}

.divider .content {
  padding:150px 0;
}

.divider .header {
  font-size: 7.64vw;
}

.divider .tag {
  font-size: 2.65vw;
}
.pics {

}

.splash-mini-wage {
	font-size: 12px;
  background-color: rgb(235,251,188);
  padding: 0px 4px;
  border: 2px solid rgb(174,214,118);
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
}

.splash-polaroid {
	padding: 13px 13px 0px 13px;
	box-shadow: 3px 3px 5px #888888;
	background-color: rgb(227, 236, 222);
	border: 1px solid rgba(0,0,0,0.02);
	border-radius: 20px;
  margin:10px;
}

.pics {
  margin-top:30px;
}
