// // Place all the styles related to the StaticPages controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
// // Place all the styles related to the static_pages controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
// /* http://meyerweb.com/eric/tools/css/reset/
//    v2.0 | 20110126
//    License: none (public domain)
// */
//
// html, body, div, span, applet, object, iframe,
// h1, h2, h3, h4, h5, h6, p, blockquote, pre,
// a, abbr, acronym, address, big, cite, code,
// del, dfn, em, img, ins, kbd, q, s, samp,
// small, strike, strong, sub, sup, tt, var,
// b, u, i, center,
// dl, dt, dd, ol, ul, li,
// fieldset, form, label, legend,
// table, caption, tbody, tfoot, thead, tr, th, td,
// article, aside, canvas, details, embed,
// figure, figcaption, footer, header, hgroup,
// menu, nav, output, ruby, section, summary,
// time, mark, audio, video {
// 	margin: 0;
// 	padding: 0;
// 	border: 0;
// 	font-size: 100%;
// 	font: inherit;
// 	vertical-align: baseline;
// }
// /* HTML5 display-role reset for older browsers */
// article, aside, details, figcaption, figure,
// footer, header, hgroup, menu, nav, section {
// 	display: block;
// }
// body {
// 	line-height: 1;
// }
// ol, ul {
// 	list-style: none;
// }
// blockquote, q {
// 	quotes: none;
// }
// blockquote:before, blockquote:aft	er,
// q:before, q:after {
// 	content: '';
// 	content: none;
// }
// table {
// 	border-collapse: collapse;
// 	border-spacing: 0;
// }
// *****************************************************************************
// NOTE: RESET ABOVE
// *****************************************************************************
.checkbox {
	cursor: pointer;
}

.checkbox-checked {
	background-color: rgba(0,255,0,0.3);
}

// NOTE: concerned about mobile user- does the margin-top look weird since it's
// a percentage? perhaps switch to fixed pixel margin-top?
a {
  cursor: pointer;
}

button:hover {
  transition: all 0.1s ease-in;
  background: rgba(0,255,0,0.6);
}

// NOTE: border not showing up on panel component. not sure why. can manually
// assign it in inspector though...

// remove border colors for profile pics later after I establish background colors
// for the panels behind them. just keep them now for positioning
.worker-profile-pic {
  border-radius: 50%;
  border: 1px solid black;
  height: 100%;
  width: 100%;
}
.confirm-worker-profile-pic {
	border-radius: 50%;
	border: 1px solid black;
	height: 200px;
	width: 200px;

}
#worker-profile-shortName {
	font-size: 28px;
	margin: 0px 0px 10px 0px;
}

#worker-profile-rating {
	font-size: 22px;
	margin: 10px 0px 2px 0px
}

.worker-taskview-pic {
	border: 1px solid black;
	width: 100%;
}

.reviewer-profile-pic-container {
		width:100px;
		height:100px;
		position:relative;
}
.reviewer-profile-pic {
  border-radius: 50%;
  border: 1px solid black;
  height: inherit;
  width: inherit;
}

.review-icon-holder-ok {
	display:block;
	position:absolute;
	border: 3px solid green;
	border-radius: 50%;
	bottom: 10px;
	right: 10px;
	height: 30px;
	width: 30px;
	background-color: white;
}

.review-icon-holder-bad {
	display:block;
	position:absolute;
	border: 3px solid red;
	border-radius: 50%;
	bottom: 10px;
	right: 10px;
	height: 30px;
	width: 30px;
	background-color: white;
}

#review-icon {
	top: 5px;
	left: 5px;
	right: 12px;
}

.review-info {
	// float: left;
	// display: inline-block;
	// padding: 5px;
}

// NOTE: This is supposed to fix issue with Modal sometimes not allowing scroll
// when it overflows over the page. check if this fixes it..
// max-height DOES seem to fix it, but it makes the bottom half ugly..
.modal {
    overflow-y:auto;
    max-height: 90%;
    // margin-top:-45%;
}

.homepage-element {
	border: 1px solid black;
}

.date-selector {
	width: 30%;
	float: left;
	border: 1px solid black;
}

.worker-list {
	width: 70%;
	float:left;
	border: 1px solid black;
}

.workers-item-container {
	// height: 300px;
}
.form-group {
	position: relative;
}

.glyph-container {
	position: relative;
}
.task-status-icon {
	position: absolute;
	right: 0px;
}

.yes-no-icon {
	margin-left: 5px;
}

// red
#icon-bad {
	color: #800000; // maroon
	// color: rgba(41,193,41,1);
}
// green
#icon-ok {
	color: green;
	// color: rgba(41,193,41,1);
}

.review-description-notification-message {

	float: right;
}

body {
	background: rgb(213,213,213) !important
	// background: rgb(225,225,225) !important; //light grey
	// background: rgb(220,220,220) !important; //light grey
	// background: rgb(0,0,0) !important; //black
}

.temp-borders {
	border: 1px solid black;
}

.temp-borders-2 {
	border: 1px solid red;
}

.worker-info {
	width: 102px;
}

.page-heading {
	font-size: 24px;
	margin-bottom: 10px;
}

.task-title {
	font-size: 36px;
}

.task-title-divider {
	border-bottom:	1px solid #e4e4e4;
	height: 0px;
	width: auto;
	margin: 5px 0px;
}

.task-location {
	font-size: 24px;
}

#submit-review-button-container {
	position: relative;
	margin-top: 5px;
}
#submit-review-button {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

#notification-message-error {
	color: #800000;
}

#notification-message-success {
	color: green;
}

.button-container {
	position: relative;
	height: 50px;
}

#hire-confirm-back-button {
	float: left;
}

.task-date-scheduled {
	text-align: center;
	font-size: 36px;
	margin: 0px;
}

.task-time-scheduled {
	text-align: center;
	font-size: 18px;
	margin: 0px 0px 0px 0px;
}

.task-description {
	margin-top: 26px;
  display: inline-block;
}

// note: haven't actually used this yet... delete if do not use clearfix
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.hire-button-containers {
	position: relative;
}

#hire-confirmation {
	display: inline;
	margin-right: 20px;
	font-size: 20px;
	font-weight: bold;
	// position: absolute;
	// margin: 0px 30%;
	// text-align: center;
}

.home-header {
	font-size: 48px;
}

.home-sub-header {
	font-size: 36px;
}
#find-workers-header {
	font-size: 36px;
	padding: 2px 0px;
	text-align: center;
}
#find-workers-form-items-header {
	font-size: 24px;
	text-align: center;
	padding: 2px 0px;
}


.auth-container {
	height:100vh;
	position:relative;
}

.auth-outer-window {
	border: 1px solid #1e5d88;
	background-color: white;
  width: 300px;
  left: 10%;
  top: 10%;
	position:relative;
}

.auth-inner-window {
  // border: 1px solid black;
  padding: 20px;
}

.splash-logo {
	// pos
	// bottom: 0;
}

#polaroid {
	padding: 13px 13px 0px 13px;
	box-shadow: 3px 3px 5px #888888;
	background-color: rgba(0,0,0,0.02);
	border: 1px solid rgba(0,0,0,0.02);
}

#polaroid-picture {
	background-color: white;
	border: 1px solid rgba(0,0,0,0.25);
	margin-bottom: 5px;
}

#inner-panel-polaroid-adjust {
	margin: 0px 0px;
}

.review-worker-profile-pic {
	border-radius: 50%;
	border: 2px solid rgba(0,0,0,1);
}

#find-workers-form-heading {
	font-size: 24px
}

#find-workers-form-container {
	padding: 0px 0px 0px 15px;
	text-align: center;
}

.find-worker-form-item-about-container {
	text-align: left;
}

.find-worker-form-item-about-container > .worker-stats {
	margin-top: 30px;
}

#about-header {
	font-size: 24px;
}

#find-workers-form-item-container {
	overflow: hidden;
  position: relative;
  width: 100%;
	margin: 0px;
}

#about-me-container {
	// background:green;
	height: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
}
#find-workers-form-item-pic-name-container {
	// position:absolute;
	// height:100%;
	// top: 0;
	// left: 0;
}

#reviews-index-modal-button {
	position: absolute;
	left: 0;
	bottom: 0;
}

#confirm-hire-modal-button {
	position: absolute;
	right: 0;
	bottom: 0;
}

#home-current-user-pic {
	border-radius: 50%;
	border: 1px solid black;
	height: 100px;
	width: 100px;
	cursor: pointer;
}

.map {
  // width: 80vw;
  // height: 100vh;
	// width: 500px;
	height: calc(100vh - 51px);
  // border: 2px solid white;
  // border-top-left-radius: 3%;
  // border-top-right-radius: 3%;
  // margin-bottom: 10px;
	// margin: 0px 0px;
	overflow: hidden;
}

#map-col {
	padding: 0px 0px;
}

#task-map-row {
	position: relative;
}

#workable-tasks-holder {
	height: calc(100vh - 51px);
	overflow: scroll;
	padding: 0px, 0px, 0px 0px;
	// border: 10px solid black;
}

#find-tasks-index-item-creator-holder {
	height: 100px;
	width: 100px;
}

#find-tasks-index-item-creator-pic {
	border-radius: 50%;
	border: 1px solid black;
	height: 100%;
	width: 100%;
	// display: inline-block;
}

#find-tasks-index-item-title {
	// display: inline-block;
}

#find-tasks-index-item-creator-name {
	text-align: center;
}

#find-tasks-index-items-header {
	text-align: center;
	font-size: 36px;
	padding: 0px;
}

.section-heading-banner {
	font-size: 30px;
	text-align: center;
}

#sort-tasks-header {
	font-size: 20px;
	margin-right: 5px;
}

.intro-layer-1 {
	height: 600px;
	background-color: #F5F6ED;
	// font-size: 64px;
	// text-align: center;
}

.intro-layer-1 > h1 {
	text-align: center;
}

.intro-layer-1-content {
	margin: 0 auto;
	text-align:center;
	}

.intro-layer-2 {
	height: 200px;
	background-color: gray;
}

.intro-layer-3 {
	height: 300px;
	background-color: teal;
}

.intro-layer-4 {
	height: 100px;
	background-color: red;
}

.intro-layer-5 {
	height: 100px
}

.task-review-result {
	font-size: 24px
}

.review-icon-holder-ok-inline {
	border: 5px solid green;
	border-radius: 50%;
	bottom: 10px;
	right: 10px;
	height: 35px;
	width: 35px;
	background-color: white;
	margin-right: 10px;
}

.review-icon-holder-bad-inline {
	border: 5px solid red;
	border-radius: 50%;
	bottom: 10px;
	right: 10px;
	height: 35px;
	width: 35px;
	background-color: white;
	margin-right: 10px;
}

.center-text {
	display: block;
	text-align: center;
}
