// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.auth-outer-window {
  display:block;
  font-size: 12px;
  color: black;
  display:none;
  position:fixed;
	border: 1px solid #1e5d88;
	background-color: white;
  width: 300px;
  top: 40px;
  z-index: 9000;
}

.create-account {
  left: 20px;
}

.login-user {
  right: 20px;
}


.auth-container {
	height:100vh;
	// position:relative;
}

.auth-inner-window {
  // border: 1px solid black;
  padding: 20px;
}

form {
  font-size: 12px;
}



.panel1 {
  position:relative;
  background-color: black;
  height: 700px;
  color: white;
}

.button-holders {
  float:top;
  font-size: 24px;
  margin: 5px 10px 0px 10px;
}
.create-account-button {
  float: left;
  cursor: pointer;
}

.login-button {
  float:right;
  cursor: pointer;
}

.panel1-main {
  text-align: center;
  margin-top: 150px;
}

.logo-header {
  font-size: 200px;
}

.logo-tag {
  font-size: 30px;
  position: relative;
  top: -30px;
}


.infosection {
  background: white;
  height: 520px;
}
.infosection {
  text-align: center;
}
.pics {
  // text-alig
}
.information {
  // text-align: center;
  // border: 1px solid red;
  height: 100%;
}

.information .header {
  margin-top:40px;
  font-size:46px;
}
.information .subheader {
  font-size:23px;
}
.information .subtitle {
  margin-top: 30px;
  font-size:37px;
}

.steps-list {
  margin-top: 5px;
  width: 400px;
  display: inline-block;
  text-align: left;
}

.list-entry {
  font-size: 24px;
  margin: 5px;
}

.btn-link {
  font-size: 24px
}

.guest-container {
  margin-top: 30px;
}

#larger-button {
  font-size: 30px;
}


.divider {
  height: 500px;
  background-color: black;
}

.pics {

}

.splash-mini-wage {
	font-size: 12px;
  background-color: rgb(235,251,188);
  padding: 0px 4px;
  border: 2px solid rgb(174,214,118);
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
}

.splash-polaroid {
	padding: 13px 13px 0px 13px;
	box-shadow: 3px 3px 5px #888888;
	background-color: rgb(227, 236, 222);
	border: 1px solid rgba(0,0,0,0.02);
	border-radius: 20px;
  margin:10px;
}

.pics {
  margin-top:30px;
}
